.PopUpBox {
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    width: 85%;
    background-color: var(--color-bg-white);
    border: 2px solid var(--color-bg-red);
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}
.PopUpBox .message {
    color: var(--color-text-red-default);
}
.PopUpBox .message a {
    color: var(--color-text-red-light);
}

@media screen and (max-width: 600px) {
    .PopUpBox .message {
        font-size: 14px;
    }
}
