.PopUpBox {
    position: fixed;
    bottom: 10vw;
    left: 50%;
    transform: translate(-50%);
    width: 90vw;
    background-color: #ffffff;
    border: 2px solid #860038;
    border-radius: 5px;
    text-align: center;
    padding: 5px 10px;
}
.PopUpBox span {
    color: #860038;
}