.TopBar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 50px;
    background: #860038;
    padding: 10px 15px;
}
.TopBar .Logo {
    width: 30px;
    height: 30px;
}
.TopBar .Menu {
    width: 20px;
    height: 20px;
    margin-top: 5px;
    background-image: url("../../assets/menu.svg");
}

.TopBarSpace {
    width: 100vw;
    height: 50px;
}
