.SplashScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #860038;
    transition: opacity 0.3s;
}
.SplashScreen .Logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    animation: 1s fadeIn;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        top: 45%;
    }
    60% {
        opacity: 0;
        top: 45%;
    }
    100% {
        opacity: 1;
        top: 50%;
    }
}
.SplashScreen.hide {
    pointer-events: none;
    opacity: 0;
}

@media screen and (max-width: 900px) {
    .SplashScreen .Logo {
        width: 150px;
        height: 150px;
    }
}
@media screen and (max-width: 450px) {
    .SplashScreen .Logo {
        width: 100px;
        height: 100px;
    }
}
