.AuthPage {
    height: 100vh;
    padding: 30px;
    overflow-y: auto;
}

.AuthPage .Logo {
    width: 70px;
    height: 70px;
}

.AuthPage .Title {
    font-size: 30px;
    color: var(--color-text-blue-default);
    font-style: italic;
    text-transform: uppercase;
    margin: 30px 0 10px 10px;
}
.AuthPage label {
    display: none;
}
.AuthPage input {
    border-radius: 6px;
    padding: 15px 10px;
    margin-top: 20px;
    width: 100%;
    border: 1px solid var(--color-bg-red);
    background-color: var(--color-bg-white);
    color: var(--color-text-gray-dark);
    letter-spacing: 1px;
}
.AuthPage input:focus {
    outline: none;
    color: var(--color-text-red-default);
}

.AuthPage #submit_button {
    width: 100%;
    background-color: var(--color-bg-red);
    color: #FFFFFF;
    font-family: inherit;
    border: none;
    font-size: 22px;
    padding: 8px;
    margin-top: 30px;
}
.AuthPage #submit_button:hover {
    background-color: #A00043;
    cursor: pointer;
}
.AuthPage #submit_button:active {
    background-color: #70002F;
}

.AuthPage .Links {
    text-align: center;
    margin-top: 30px;
}
.AuthPage .Links a {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 5px;
    padding: 5px 10px;
    color: var(--color-link-blue);
}
.AuthPage .Links a:hover, .AuthPage .Links a:focus {
    text-decoration: underline;
}
