.UIPage {
    padding-bottom: 20px;
}
.UIPage .TitleContainer {
    padding: 15px 30px;
    margin-bottom: 10px;
    background-color: var(--color-bg-white);
    border-bottom: 1px solid #888888;
}
.UIPage .Title {
    margin: 0;
    font: 28px "Times New Roman", serif;
    font-style: italic;
    font-weight: bold;
    color: var(--color-text-blue-default);
    text-align: center;
}
